@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,600;1,600&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    background-size: cover;
    background-image: url('../files/img/fon11.png');
}


/* _________________Головна сторінка_________________ */

nav {
    display: flex;
    flex-direction: row;
    margin: 85px 0 0 1px;
}

/* _______________________Текст опис ліва сторона_______________ */

aside {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 1050px;
    margin: 0 0 0 30px;
    padding: 15px 0 0 10px;
    box-sizing: border-box;
    border: 10px double rgb(192, 124, 236);
    border-radius: 32px;
}

aside div:nth-child(1) {
    width: 600px;
    height: 60px;
}

aside div p {
    margin: 0;
    font-size: 28px;
    color: white;
    text-align: center;
}

textarea {
    width: 600px;
    height: 935px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-color: transparent;
    resize: none;
    outline: none;
}

/* aside div:nth-child(2) {
    width: 600px;
    height: 935px;
    background-color: rgb(245, 242, 242);
} */

/* ________________________права сторона______________ */

main {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
}

/* ___________________________Дані Особи_________________ */

.forma {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 10px double rgb(192, 124, 236);
    border-radius: 32px;
    margin: 0 0 25px 0;
    padding: 15px 15px 15px 15px;
}

.container-1 {
    display: flex;
    margin-bottom: 20px;
}


.container-1 input {
    width: 100%;
    outline: none;
    padding: 5px;
    border-radius: 8px;
}

.container-2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.container-2 p {
    color: white;
    margin:0 10px 0 0;
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container-2 select:nth-of-type(1) {
    margin: 0 10px 0 0;
    background: white;
    border-radius: 7px;
}

.container-2 select:nth-of-type(2) {
    margin: 0 10px 0 0;
    background: white;
    border-radius: 7px;
}

.container-2 input {
    width: 31px;
    background: white;
    border-radius: 7px;
    outline: none;
}

.container-2 input::placeholder {
    color: rgb(0, 0, 0);
}

.container-3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.container-3 p:nth-of-type(1) {
    margin:0 125px 0 0px ;
    color: white;
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container-3 i:nth-of-type(1) {
    margin: 0 0 0 2px;
    font-size: 24px;
    color: white;
}

.container-3 p:nth-of-type(2) {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container-3 i:nth-of-type(2) {
    margin: 0 0 0 73px;
    font-size: 24px;
    color: white;
}

.container-3 p:nth-of-type(3) {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container-4 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container-4 p {
    color: white;
    margin: 0 0 20px 0;
}

.radio-knopka {
    display: flex;
    flex-direction: row;
}

.radio-knopka input:nth-of-type(1) {
    margin: 0 10px 16px 29px;
}

.radio-knopka p:nth-of-type(1) {
    color: white;
}

.radio-knopka input:nth-of-type(2) {
    margin: 0 5px 16px 80px;
}

.radio-knopka p:nth-of-type(2) {
    color: white;
}

.container-5 {
    display: flex;
}

.container-5 button {
    width: 490px;
    padding-left: 6px;
    height: 40px;
    border-radius: 25px;
    background: white;
    cursor: pointer;
    transition: background-color 0.5s ease, color 1s ease, font-size 0.5s ease;
}

.container-5 button:hover {
    background: rgba(28, 70, 255, 0.884);
    color: white;
    border: none;
    font-size: 20px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* __________________фото гороскопу________________ */

article {
    margin: 203px 0 0 0;
}

.zagolovok-1 {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 20px;
}

.zagolovok-1 p {
    color: white;
    font-size: 36px;
    margin: 0;
    width: 360px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.zagolovok-1 img {
    background-color: white;
    width: 40px;
    height: 40px;
    border: 5px solid blueviolet;
    border-radius: 9px;
    padding: 3px;
}

.kartunka {
    border: 10px double rgb(192, 124, 236);
    border-radius: 32px;
    padding: 10px;
    width: 500px;
}

.kartunka img {
    width: 500px;
    height: 450px;
    background-color: azure;
}

/* ______________________________Помилки___________________________ */

.error1 {
    margin: 0;
}

.error2 {
    margin: 0;
}

.error3 {
    margin: 0;
}

.error4 {
    margin: 0;
}