@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,600;1,600&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

/* _ _ _ _ _ _ _ _реєстраційна форма_перша сторінка_ _ _ _ _ _ _ _ */
.fon-1 {
    display: flex;
    justify-content: center;
    margin: 0;
    background-size: cover;
    height: 100vh;
    background-image: url('../files/img/fon2.png');
}

.reg-form {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 650px;
    height: 390px;
    border: 2px solid rgba(8, 26, 184, 0.596);
    background: transparent;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 8px 32px 0 rgb(171, 151, 218);
    backdrop-filter: blur(10px);
}

/* ________________________Поле_Імя_________________________ */

.container-1 {
    position: relative;
    width: 600px;
    margin:30px 0 0 50px;
}

.names {
    width: 560px;
    padding: 15px 15px 15px 50px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 255, 0.2);
    border-radius: 10px;
    font-size: 16px;
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s,padding 0.3 , border-color 0.3s;
}

.names::placeholder {
    color: blue;
}

.names:focus {
    background: white;
    box-shadow: 0 6px 20px rgb(70, 11, 209);
    outline: none;
    padding-left: 15px;
    background-color: white;
}

.img {
    position: absolute;
    top: 59%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    transition: left 0.5s ease, opacity 0.5s ease;
    font-size: 30px;
}

.names:focus + .img{
    left: -40px;
    color: white;
}

/* ___________________поле_Дата Народження___________________ */

.container-2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.container-2 p {
    color: white;
    margin:0 10px 0 50px;
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container-2 select:nth-of-type(1) {
    margin: 0 10px 0 10px;
    background: white;
    border-radius: 7px;
}

.container-2 select:nth-of-type(2) {
    margin: 0 10px 0 0;
    background: white;
    border-radius: 7px;
}

.container-2 input {
    width: 31px;
    background: white;
    border-radius: 7px;
}

.container-2 input::placeholder {
    color: rgb(0, 0, 0);
}

/* ______________________Стать____________________________ */

.container-3 {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: row;
}

.container-3 p:nth-of-type(1) {
    margin:0 127px 0 50px ;
    color: white;
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container-3 i:nth-of-type(1) {
    margin: 0 0 0 2px;
    font-size: 24px;
    color: white;
}

.container-3 p:nth-of-type(2) {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container-3 i:nth-of-type(2) {
    margin: 0 0 0 73px;
    font-size: 24px;
    color: white;
}

.container-3 p:nth-of-type(3) {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* _____________________________Кнопка______________________________ */

.container-4 {
    margin: 55px 0 0 0;
    display: flex;
    justify-content: center;
}

.container-4 button {
    width: 565px;
    padding-left: 6px;
    height: 40px;
    border-radius: 25px;
    background: white;
    cursor: pointer;
    transition: background-color 0.5s ease, color 1s ease, font-size 0.5s ease;
}

.container-4 button:hover {
    background: rgba(28, 70, 255, 0.884);
    color: white;
    border: none;
    font-size: 20px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* <_________________________________Верстка_______________________________________> */

@media screen and (max-width: 700px) {
    .reg-form {
        width: calc(350px + (650 - 350) * ((100vw - 400px) / (700 - 400)));
    }

    .container-1 {
        width: calc(350px + (600 - 350) * ((100vw - 400px) / (700 - 400)));
        margin-left: calc(15px + (50 - 15) * ((100vw - 400px) / (700 - 400)));
    }

    .names {
        width: calc(320px + (560 - 320) * ((100vw - 400px) / (700 - 400)));
    }

    .names:focus + .img {
        left: calc(-25px + (-40 - (-25)) * ((100vw - 400px) / (700 - 400)));
    }

    .names:focus {
        margin-left: 15px;
    }

    .container-2 {
        flex-wrap: wrap;
    }

    /* .container-3 p:nth-of-type(1) {
        margin-right: calc(5px + (127 - 5) * ((100vw - 400px) / (700 - 400)));
    } */
}

@media screen and (max-width: 543px) {
    .container-2 p {
        margin:0 40px 20px 80px;
    }

    .container-2 select:nth-of-type(1) {
        margin-left: 85px;
    }

    .container-2 select:nth-of-type(2) {
        margin-left: 40px;
        margin-right: 40px;
    }

}

@media screen and (max-width: 530px) {
    .container-2 select:nth-of-type(1) {
        margin-left: calc(45px + (85 - 45) * ((100vw - 400px) / (530 - 400)));
    }


    .container-2 select:nth-of-type(2) {
        margin-left: calc(25px + (40 - 25) * ((100vw - 400px) / (530 - 400)));
        margin-right: calc(25px + (40 - 25) * ((100vw - 400px) / (530 - 400)));
    }

    .container-3 p:nth-of-type(1) {
        margin-right: calc(5px + (127 - 5) * ((100vw - 400px) / (530 - 400)));
    }

}

/* _ _ _ _ _ _ _ _ _ _ _ _друга сторінка_ _ _ _ _ _ _ _ _ _ _ _ _ */


.fon-2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    background-size: cover;
    background-image: url('../files/img/fon11.png');
}

/* ____________________Шапка______________________ */

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 0 0 30px 30px;
}

header img {
    width: 60px;
    margin: 0 0 0 15px;
}

header a:nth-of-type(1) {
    position: absolute;
    left: 114px;
    font-size: 28px;
    top: 12px;
    text-decoration: none;
}

header a:nth-of-type(2) {
    position: absolute;
    left: 315px;
    font-size: 28px;
    top: 12px;
    text-decoration: none;
}

header a:hover {
    color: rgb(72, 22, 209);
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* _________________Головна сторінка_________________ */

nav {
    display: flex;
    flex-direction: row;
    margin: 85px 0 0 100px;
}

/* _______________________Текст опис ліва сторона_______________ */

aside {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 935px;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
    border: 10px double rgb(192, 124, 236);
    border-radius: 32px;
}

aside div:nth-child(1) {
    width: 600px;
    height: 60px;
}

aside div p {
    margin: 0;
    font-size: 28px;
    color: white;
    text-align: center;
}

/* aside div:nth-child(2) {
    width: 600px;
    height: 820px;
    background-color: rgb(245, 242, 242);
} */

textarea {
    width: 600px;
    height: 935px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-color: transparent;
    resize: none;
    outline: none;
    scrollbar-color:rgb(192, 124, 236) rgba(255, 255, 252, 0)
}

/* ________________________права сторона______________ */

main {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 100px;
}

/* ______________________вибираємо тип______________ */

section {
    display: flex;
    flex-direction: column;
    width: 493px;
    border: 10px double rgb(192, 124, 236);
    border-radius: 32px;
    font-size: 20px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 155px;
    padding: 0 15px 15px 15px;
}

section > p {
    color: white;
    text-align: center;
}

.radio-knopka {
    display: flex;
    flex-direction: row;
}

.radio-knopka input:nth-of-type(1) {
    margin: 0 5px 0 20px;
}

.radio-knopka p:nth-of-type(1) {
    margin: 20px 70px 20px 0;
    color: white;
}

.radio-knopka input:nth-of-type(2) {
    margin: 3px 5px 0 170px;
}

.radio-knopka p:nth-of-type(2) {
    margin: 20px 0 20px 0;
    color: white;
}

section > button {
    font-size: 20px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: blueviolet;
    border-radius: 20px;
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease ;
}

section > button:hover {
    background-color: blueviolet;
    color: white;
}


section > button:active {
    border: 2px inset white;
}

/* __________________фото гороскопу________________ */

article {
    margin: 185px 0 0 0;
}

.zagolovok-1 {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 20px;
}

.zagolovok-1 p {
    color: white;
    font-size: 36px;
    margin: 0;
    width: 360px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.zagolovok-1 img {
    background-color: white;
    width: 40px;
    height: 40px;
    border: 5px solid blueviolet;
    border-radius: 9px;
    padding: 3px;
}

.kartunka {
    border: 10px double rgb(192, 124, 236);
    border-radius: 32px;
    padding: 10px;
}

.kartunka img {
    width: 500px;
    height: 450px;
    background-color: azure;
}

/* ________________________Помилки_____________________________________________ */

.error {
    margin: 0;
}